.row {
    display: flex;
}
.col {
    flex-grow: 1;
    padding: 20px;
    margin: 10px;
    background-color: lightcyan;
}
.col-2 {
    flex-grow: 2;
    padding: 20px;
    margin: 10px;
    background-color:lightskyblue;
}
.col-3 {
    flex-grow: 3;
    padding: 20px;
    margin: 10px;
    background-color:lightseagreen;
}
